Cython==0.29.24
flasgger==0.9.5
Flask==2.0.2
joblib==1.1.0
matplotlib==3.4.3
mock==4.0.3
numpy==1.21.4
opencv_python==4.5.4.58
pandas==1.1.5
Pillow==8.4.0
pytest==6.2.5
rawpy==0.16.0
scikit_learn==1.0.1
setuptools==58.0.4
tensorflow==2.7.0
tqdm==4.62.3
